.results-list{
    font-size: larger;
    padding: 2px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 8px  #ddd;
    margin: 1rem;
    border-radius: 10px;
    border-bottom: 2px solid #6d3636;
    max-height: 300px;
    overflow-y: scroll;
}

.word{
    background-color: #c7bcbc;
    width: 50%;
    border-radius:10px ;
    text-align: center;
    font-size: x-large;
    padding: 2px;
    color: rgb(25, 13, 185);
}